@use '../../../styles' as *

.feedForm
  position: relative
  width: 21.9em
  height: 9em

  &__img
    // position: absolute
    z-index: -1
    width: 35.1rem
    height: 14.4em
  
  &__paragraph
    position: absolute
    text-align: center

  // &__btn
