@use '../../../styles' as *
  
meter
  width: 100%
  height: 3rem
  opacity: 0.6
  -moz-appearance: none

  &::-webkit-meter-bar
    background-color: $negative-color
    border-radius: 1px
    border: none

  &::-webkit-meter-optimum-value
    background: $positive-color
