@use '../../../styles' as *

.gaugebar
  font-size: $fz-400-15

  &__meter
    position: absolute
    bottom: 0.6em
    width: 100%
    -moz-appearance: none

    &::-webkit-meter-bar
      border: none
      border-radius: 1px

      background-color: $clr-negative-60
      height: 2.4em !important

    &::-webkit-meter-optimum-value
      background: $clr-positive-60

  &__info
    position: relative
    display: flex
    justify-content: space-between

    z-index: 2
    color: $clr-light
    height: 2.4em

    @include vertical-center

    &__positive
      margin-left: 0.66em

    &__negative
      margin-right: 0.66em
