$base-font-family: 'Lato', sans-serif
$base-font-color: #FFFF
$positive-color: #3CBBB4
$negative-color: #FBBD4A

// ----- Button
  
$submit-button-color: rgba(48, 48, 48, 0.6)

// ----- Card

$h2-font-size: 1.5rem
$p-font-size: 1rem
$note-font-size: 0.6rem
$card-right-space: 1.9rem