@use '../../../styles' as *

.main

  &__cardHeader
    display: flex
    justify-content: space-between
    font-family: $ff-base
    margin: 2rem 0

    &__title
      margin: 0
      font-size: $fz-h2-400-24
      font-weight: 300
      font-color: $clr-dark-00-2

    &__selector
      height: 1.3rem
      align-self: center

  &__cardList
    display: flex
    padding: 0
    list-style-type: none
    font-size: $fz-p-400-15

    &__item
      margin-right: 0.7em


// @media screen and (min-width: 768px)
//   .main
//     &__cardList
//       flex-direction: column

// @media screen and (max-width: 768px)
//   .main
//     &__header
//       &__selector
//         display: none