@use '../../../styles' as *

.main

  &__cardHeader
    display: flex
    justify-content: space-between
    font-family: $ff-base
    margin: 2rem 0

    &__title
      margin: 0
      font-size: $fz-h2-400-24
      font-weight: 300
      font-color: $clr-dark-00-2

    &__selector
      align-self: center

  &__cardList
    display: flex
    padding: 0
    list-style-type: none
    font-size: $fz-400-15

    @media (min-width: $max-width-mobile)
      flex-direction: column

    &__item
      margin: 0 0.7em 0.7em 0

