@use '../../../styles' as *

.btn
  cursor: pointer
  border: none
  z-index: 1

  font-family: $ff-base
  font-size: $fz-400-15

  width: 2em
  height: 2em

  @include center-center

  &--primary
    background: $clr-positive-80

  &--secondary
    background: $clr-negative-80

  &--selected
    border: 1px solid $clr-light
  
  &--list
    @media (min-width: $max-width-mobile)
      font-size: 2.25rem

  &[type="submit"]
    color: $clr-light
    background: $clr-neutral-60
    border: 1px solid $clr-light

    padding: 1.2em 1.4em
    width: 8em

    &:disabled
      cursor: auto