@use '../../../styles' as *

.cardList

  @include center-center
  padding: 0
  list-style-type: none
  font-size: $fz-400-15

  position: absolute

  &--list
    @media (min-width: $max-width-mobile)
      position: relative
      flex-direction: column

  &--grid
    @media (min-width: $max-width-mobile)
      position: relative
      flex-wrap: wrap
