@use '../../../styles' as *

.cardList

  &__list
    @include center-center
    padding: 0
    list-style-type: none
    font-size: $fz-400-15

    &--list
      @media (min-width: $max-width-mobile)
        flex-direction: column

    &--grid
      @media (min-width: $max-width-mobile)
        flex-wrap: wrap
