@use '../../../styles' as *

.card
  position: relative
  display: flex
  justify-content: flex-end
  flex-flow: column

  font-size: $fz-400-15
  
  font-family: $ff-base
  color: $clr-light
  width: 20em
  height: 20em
  overflow: hidden

  &__picture
    position: absolute
    height: 115%
    z-index: 0
    top: 0

  &__indicator
    /* 2em = width + padding * 2 */
    width: 1.06em
    height: 1.06em
    padding: 0.47em
    z-index: 0

    &--positive
      background: $clr-positive-80

    &--negative
      background: $clr-negative-80

  &__form
    margin: 0.2em 2em 0.7em 0 
    justify-content: flex-end
